@import 'helpers';
@import 'reset';

body {
	color: $gray-200;
	font-size: $font-size;
	font-family: $font-family;
	background-color: $gray-900;
	overflow-x: hidden;
}

.no-scroll {
	overflow: hidden;
}

:is(h1, h2, h3, h4, h5, h6) {
	font-weight: 800;
}

h1 {
	font-size: calc(2.25rem + 2vw);
}

h2 {
	font-size: calc(2rem + 1.5vw);
}

h3 {
	font-size: calc(1.75rem + 1vw);
}

h4 {
	font-size: calc(1.5rem + 0.5vw);
}

h5 {
	font-size: 1.25rem;
}

h6 {
	font-size: 1rem;
}

p {
	line-height: 1.5;
}

button {
	color: $black;
	background-color: $primary-color;
	font-weight: 700;
	position: relative;
	padding: 15px 30px;
	transition: ease-in-out 0.3s;

	&:hover {
		color: lighten($black, 75%);
		background-color: darken($primary-color, 25%);
	}
}

.site-header,
.site-footer {
	padding: 30px;
}

.site-footer {
	color: $gray-50;
	background-color: $gray-900;
}

section {
	padding: $section-padding;
}

section .section-details {
	.title {
		border-left: 10px solid $gray-50;
		margin-bottom: 30px;
		padding-left: 20px;
	}
	.subtitle {
		color: $gray-400;
		margin-bottom: 15px;

		&-icon {
			animation: spin 5s infinite;
		}
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	25% {
		transform: rotate(-45deg);
	}
	50% {
		transform: rotate(-15deg);
	}
	75% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
